<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">关于我...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>2009-2011</h4> -->
                                    <h4 class="subheading">2B青年 奋斗ing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    目前在一家互联网公司工作，从事Java软件开发。在好几家公司呆过，对互联网搜索、推荐、分布式有一定的了解，对机器学习、推荐系统十分感兴趣，正在自学。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2011</h4> -->
                                    <h4 class="subheading">码砖的苦逼</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    熟悉Linux(Ubuntu)，码过Java，ruby...崇尚自由软件，痛恨Windows，但一直都在用它，而且用的很爽，因为憎恨，所以一直都用盗版的。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <!--  <h4>December 2012</h4> -->
                                    <h4 class="subheading">装逼</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    喜欢买书，专业的、非专业的，一副很牛逼的样子，但是这些书都没有把前言看完。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>July 2014</h4> -->
                                    <h4 class="subheading">能自我安慰</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">总是觉得自己受气、委屈、被歧视、不被重用、没有机会，苦逼地生活和奋斗着。 
每每遇到不如意的时候，也总算能自我安慰。这时我会，45度角扬起头，以同一角度举起右手，朝着天空，狠狠地竖起中指，同时心中怒吼一声“FUCK IT”。然后收回手，缩起头，继续苦逼地生活着。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>