<!--  blog  -->
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">博客...</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <a target="_blank"  href="{{ "/tech/" | prepend: site.baseurl }}">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading"><a target="_blank" href="http://tech.jasonsoso.com">Jason技术流水账</a></h4>
                    <p class="text-muted">一个技术博客“Jason技术流水账”，开始于2015年1月，记录了个人技术和工作...</p>
                </div>
                <!--
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                       <a target="_blank"  href="{{ "/life/" | prepend: site.baseurl }}">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <h4 class="service-heading"><a target="_blank" href="{{ "/life/" | prepend: site.baseurl }}">Jason生活流水账</a></h4>
                     <p class="text-muted">一个生活博客“Jason生活流水账”，开始于2015年1月，记录了个人生活...</p>
                    
                </div>
                -->
                
            </div>
        </div>
    </section>
